# dev staging production
#SERVER=production
#COMPOSE_FILE=docker-compose.yml
SERVER=dev
COMPOSE_FILE=docker-compose.yml:docker-compose-dev.yml

PROJECT_NAME=hillel_rest_tutorial
PROJECT_ROOT=/home/ubuntu/projects/hillel_rest_tutorial

# postgres
POSTGRES_USER=hillel_rest_tutorial
POSTGRES_VERSION=12.3-alpine
POSTGRES_DB=hillel_rest_tutorial
POSTGRES_PASSWORD=jsdo47d2YRTw24Asdf
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# app
SECRET_KEY=9d4cebe50awdaw59c4dc08553461b984a58b4
WSGI_PORT=8000
WSGI_HOST=backend
WSGI_WORKERS=4
WSGI_TIMEOUT=10
SYSTEM_USER=1000:1000
ALLOWED_HOSTS=*
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=password

# nginx
NGINX_VERSION=1.19.1-alpine

# redis
REDIS_VERSION=6.0.5-alpine
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=sefbsjgkbdrjkgbdkrjgdrtgdtjkbftdlks2453464MFESNFESJlvksrkvdrovmetk
REDIS_CACHE_LOCATION=10
